trigger:
  - main
  - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  dockerRegistryServiceConnection: 'AzureContainerRegistry'
  imageRepository: 'contacts-api'
  containerRegistry: '$(AZURE_CONTAINER_REGISTRY)'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  imageName: '$(containerRegistry)/$(imageRepository):$(tag)'
  WEBAPP_NAME: 'webapp-contacts-api'  # Update this with your actual App Service name

stages:
  - stage: Build
    displayName: Build and Push Docker Image
    jobs:
      - job: BuildAndPush
        displayName: Build and Push
        steps:
          - task: Maven@3
            inputs:
              mavenPomFile: 'pom.xml'
              mavenOptions: '-Xmx3072m'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '17'
              jdkArchitectureOption: 'x64'
              publishJUnitResults: true
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              goals: 'clean package'
            displayName: 'Maven Build'

          - task: CopyFiles@2
            displayName: Copy JAR to Staging Directory
            inputs:
              SourceFolder: '$(Build.SourcesDirectory)/target'
              Contents: '*.jar'
              TargetFolder: '$(Build.ArtifactStagingDirectory)'

          - task: PublishBuildArtifacts@1
            displayName: Publish Build Artifacts
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'

          - task: Docker@2
            displayName: Build and Push image to container registry
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest

  - stage: Deploy
    displayName: Deploy to AKS
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DeployToAKS
        displayName: Deploy to AKS
        steps:
          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: 'AKS-Connection'
              namespace: 'default'
              manifests: |
                $(Pipeline.Workspace)/manifests/contacts-api-deployment.yaml
                $(Pipeline.Workspace)/manifests/contacts-api-service.yaml
              containers: |
                $(imageName)

  - stage: DeployWebApp
    displayName: Deploy to Azure App Service (Optional)
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DeployToWebApp
        displayName: Deploy to App Service
        steps:
          - task: DownloadPipelineArtifact@2
            displayName: Download JAR Artifact
            inputs:
              buildType: 'current'
              artifactName: 'drop'
              targetPath: '$(Pipeline.Workspace)/drop'
            continueOnError: true

          - task: AzureWebApp@1
            displayName: Deploy to Azure App Service
            inputs:
              azureSubscription: 'AzureServiceConnection'
              appType: 'webAppLinux'
              appName: '$(WEBAPP_NAME)'
              runtimeStack: 'JAVA|17-java17'
              startupCommand: 'java -jar /home/site/wwwroot/app.jar --server.port=80'
              package: '$(Pipeline.Workspace)/drop'
              deploymentMethod: 'zipDeploy'
            continueOnError: true

  - stage: RegisterAPIM
    displayName: Register API in APIM
    dependsOn: Deploy
    condition: succeeded()
    jobs:
      - job: RegisterAPIM
        displayName: Register/Update APIM
        steps:
          - task: AzureCLI@2
            displayName: Register API in APIM
            inputs:
              azureSubscription: 'AzureServiceConnection'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                # Variables
                RESOURCE_GROUP="your-resource-group"
                APIM_NAME="your-apim-instance"
                API_NAME="contacts-api"
                BACKEND_URL="http://contacts-api.default.svc.cluster.local:8080"
                
                # Check if API exists
                if az apim api show --resource-group $RESOURCE_GROUP --service-name $APIM_NAME --api-id $API_NAME &>/dev/null; then
                  echo "API exists, updating backend URL..."
                  az apim api update --resource-group $RESOURCE_GROUP --service-name $APIM_NAME --api-id $API_NAME --service-url $BACKEND_URL
                else
                  echo "Creating new API in APIM..."
                  az apim api create --resource-group $RESOURCE_GROUP --service-name $APIM_NAME --api-id $API_NAME \
                    --display-name "Contacts API" --service-url $BACKEND_URL --protocols http https \
                    --path "/api/contacts" --api-type http
                fi
                
                echo "APIM registration complete for $API_NAME"
