<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="java.exe" arguments="-Dspring.profiles.active=default,mix -jar &quot;%HOME%\site\wwwroot\contacts-api-0.0.2-SNAPSHOT.jar&quot;">
      <environmentVariables>
        <environmentVariable name="SPRING_DATASOURCE_URL" value="%SPRING_DATASOURCE_URL%" />
        <environmentVariable name="SPRING_DATASOURCE_USERNAME" value="%SPRING_DATASOURCE_USERNAME%" />
        <environmentVariable name="SPRING_DATASOURCE_PASSWORD" value="%SPRING_DATASOURCE_PASSWORD%" />
        <environmentVariable name="SPRING_DATASOURCE_SECONDARY_URL" value="%SPRING_DATASOURCE_SECONDARY_URL%" />
        <environmentVariable name="SPRING_DATASOURCE_SECONDARY_USERNAME" value="%SPRING_DATASOURCE_SECONDARY_USERNAME%" />
        <environmentVariable name="SPRING_DATASOURCE_SECONDARY_PASSWORD" value="%SPRING_DATASOURCE_SECONDARY_PASSWORD%" />
        <environmentVariable name="SPRING_KAFKA_BOOTSTRAP_SERVERS" value="%SPRING_KAFKA_BOOTSTRAP_SERVERS%" />
        <environmentVariable name="SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS" value="%SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS%" />
        <environmentVariable name="SPRING_KAFKA_ADMIN_PROPERTIES_BOOTSTRAP_SERVERS" value="%SPRING_KAFKA_ADMIN_PROPERTIES_BOOTSTRAP_SERVERS%" />
        <environmentVariable name="SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG" value="%SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
