apiVersion: v1
kind: Service
metadata:
  name: contacts-api
  namespace: default
  labels:
    app: contacts-api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: contacts-api
