name: Trigger auto deployment for cotainer-contacts-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/cotainer-contacts-api-AutoDeployTrigger-b7967b76-fd0e-4ca1-a45b-10a51d5829d0.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.COTAINERCONTACTSAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.COTAINERCONTACTSAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.COTAINERCONTACTSAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: rgonzalez.azurecr.io
          registryUsername: ${{ secrets.COTAINERCONTACTSAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.COTAINERCONTACTSAPI_REGISTRY_PASSWORD }}
          containerAppName: cotainer-contacts-api
          resourceGroup: rgonzalez-env-a
          imageToBuild: rgonzalez.azurecr.io/cotainer-contacts-api:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


